
<div class="row">

<div class="col-xs-4 colorfondo">
	<img class="img-responsive  centradoimagen" src="/images/balansa.png">
</div>
<div class="col-xs-8 paddinizquierdo">
	<img class="img-responsive fotoabsolute" src="/images/ayuntamiento1.jpg">
	<span id="colorfotoabogado"><h3>salvadorgomezasesor</h3></span>
</div>
</div>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-3 borderabogado text-justify">
		<p>Empresa que une la experiencia con las ganas de ayudar a las personas y empresas que piensan que han sido coartadas su libertades laborales.</p>
	</div>
	<div class="col-xs-4">
		
	</div>
	<div class="col-xs-3 borderabogadoleft text-justify">
		<p>We are pleased to announce Mark A. Catan has joined the firm as a Partner. Mark A. Catan is a Partner with extensive experience in all areas of patent law.  Mr. Catan’s practice includes strategic counseling, patent validity and infringement opinions, patent prosecution, IP transactions, and IP due diligence in support of mergers and acquisitions. Mr. Catan possesses</p>
	</div>
	<div class="col-xs-1"></div>
</div>
