
<div class="color1exercice">
<div class="row">
	<div class="col-xs-6">
		<h4 class="color1exercice">Conjuguez les verbes au présent</h4>
	</div>
	<div class="col-xs-6">
		<h4 class="color1exercice">Retrouvez les pronoms sujets.</h4>
	</div>
	
</div>
<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
		Elle <input type="text" name="" ng-model="respuesta1" value="" size="4">(travailler) dans une libraire.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play1()" value="Comprobar">
	</div>		
	<div class="col-xs-4">	
	<span class="asd">
			 <input type="text" name="" ng-model="respuesta11" value="" size="4"> portent la même jupe à carreaux.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play11()" value="Comprobar">
	</div>		
</div>

<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
			Tu <input type="text" name="" ng-model="respuesta2" value="" size="4"> (étudier) le français.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play2()" value="Comprobar">
	</div>	
	<div class="col-xs-4">
		<span class="asd">
	<input type="text" name="" ng-model="respuesta9" size="4" value=""> souriez: <input type="text" name="" ng-model="respuesta10" size="4" value=""> voyez la vie en rose !</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play9()" value="Comprobar">
	</div>	
</div>

<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
			 On <input type="text" name="" ng-model="respuesta3" size = "4" value=""> (voyager) en famille.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play3()" value="Comprobar">
	</div>	
	<div class="col-xs-4">	
	<span class="asd">
			C'est mon grand frère,  <input type="text" name="" ng-model="respuesta12" value="" size="4"> étudie espagnol.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play12()" value="Comprobar">
	</div>
	
</div>

<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
			 J' <input type="text" name="" ng-model="respuesta4" value="" size="4">
(entrer) en classe.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play4()" value="Comprobar">
	</div>		
	<div class="col-xs-4">	
	<span class="asd">
			 <input type="text" name="" ng-model="respuesta13" value="" size="4"> sommes desolées.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play13()" value="Comprobar">
	</div>
</div>

<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
			 Nous <input type="text" name="" ng-model="respuesta5" value="" size="4"> (commencer) à 10 h.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play5()" value="Comprobar">
	</div>		
		<div class="col-xs-4">	
	<span class="asd">
			 <input type="text" name="" ng-model="respuesta14" value="" size="4"> ai les yeux bleus et les cheveaux châtains.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play14()" value="Comprobar">
	</div>
</div>
<div class="row">

	<div class="col-xs-4">
	<span class="asd">	
			 Ils <input type="text" name="" ng-model="respuesta6" value=""size="4">
(passer) leur examen cette année.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play6()" value="Comprobar">
	</div>	
	<div class="col-xs-4">	
	<span class="asd">
			 <input type="text" name="" ng-model="respuesta15" value="" size="4"> notes les horaires des cours de français ?.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play15()" value="Comprobar">
	</div>	
</div>

<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
			  Nous <input type="text" name="" ng-model="respuesta7" value="" size="4"> (manger) à midi.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play7()" value="Comprobar">
	</div>	
	<div class="col-xs-4">	
	<span class="asd">
			 Valérie et moi, <input type="text" name="" ng-model="respuesta16" value="" size="4"> mange à la brasserie.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play16()" value="Comprobar">
	</div>		
</div>

<div class="row">
	<div class="col-xs-4">	
	<span class="asd">
			Nous <input type="text" name="" ng-model="respuesta8" value="" size="4"> (placer) les invités à table.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play8()" value="Comprobar">
	</div>	
	<div class="col-xs-4">	
	<span class="asd">
			 Madame, <input type="text" name="" ng-model="respuesta17" value="" size="4"> parlez trop vite !.</span>
	</div>
	<div class="col-xs-2 text-center">
		<input type="submit" class="btn btn-primary" ng-click="play17()" value="Comprobar">
	</div>			
</div>

<br>
<br>
<div class="row">
<h4 class="color1exercice">Remplacez les pronoms Nous par On</h4>
	<div class="col-xs-5">	
	<span class="asd">
			Nous donnons notre fiche. <input type="text" name="" ng-model="respuesta18" value="" size="4"></span>
	</div>

	<div class="col-xs-1">
		<input type="submit" class="btn btn-primary" ng-click="play18()" value="Comprobar">
	</div>
</div>
<div class="row">
	<div class="col-xs-5">	
	<span class="asd">
			Nous présentons notre professeur aux nouveaux élèves. <input type="text" name="" ng-model="respuesta19" value="" size="4"></span>
	</div>

	<div class="col-xs-1">
		<input type="submit" class="btn btn-primary" ng-click="play19()" value="Comprobar">
	</div>	
</div>
<div class="row">
	<div class="col-xs-5">	
	<span class="asd">
			Nous aimons beaucoup le français ! <input type="text" name="" ng-model="respuesta20" value="" size="4"></span>
	</div>
	<div class="col-xs-1">
		<input type="submit" class="btn btn-primary" ng-click="play20()" value="Comprobar">
	</div>	
</div>
<div class="row">
		<div class="col-xs-5">	
	<span class="asd">
			Nous voyageons ensemble. <input type="text" name="" ng-model="respuesta21" value="" size="4"></span>
	</div>
	<div class="col-xs-1">
		<input type="submit" class="btn btn-primary" ng-click="play21()" value="Comprobar">
	</div>
</div>
<div class="row">
	<div class="col-xs-5">	
	<span class="asd">
			Nous travaillons dans une enterprise française. <input type="text" name="" ng-model="respuesta22" value="" size="4"></span>
	</div>
	<div class="col-xs-1">
		<input type="submit" class="btn btn-primary" ng-click="play22()" value="Comprobar">
	</div>
</div>
<div class="row">
		<div class="col-xs-5">	
	<span class="asd">
			Nous entrons en cours dans cinq minutes. <input type="text" name="" ng-model="respuesta23" value="" size="4"></span>
	</div>
	<div class="col-xs-1">
		<input type="submit" class="btn btn-primary" ng-click="play23()" value="Comprobar">
	</div>			
</div>
</div>