<div class="bodyancho">
	<div class="row">
		<div class="col-xs-4">
			<h4 class="text-center"><span class="color1grammaire">Observez la conjugaison de ces verbes</h4></span>
				<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<div class="back1grammaire">
						<div class="text-center">
						Je parl<b>e</b><br>
						Tu parl<b>es</b><br>
						Il / elle / on parl<b>e</b><br>
						Nous parl<b>ons</b><br>
						Vous parl<b>ez</b><br>
						Ils / elles parl<b>ent</b><br>
						</div>	
					</div>
				</div>
				<div class="col-xs-4"></div>
				</div>
		</div>
		<div class="col-xs-4">
			<h4 class="text-center"><span class="color1grammaire">Observez la conjugaison de ces verbes</h4></span>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					<div class="back1grammaire">
							<div class="text-center">
							J'arrive<b>e</b><br>
							Tu arriv<b>es</b><br>
							Il / elle / on arriv<b>e</b><br>
							Nous arriv<b>ons</b><br>
							Vous arriv<b>ez</b><br>
							Ils / elles arriv<b>ent</b><br>
							</div>	
					</div>
				</div>
				<div class="col-xs-4"></div>	
			</div>	
		</div>
		<div class="col-xs-4 padding1grammaire" >
		<br><br>
			<span class="green1grammaire"><h5>Le pronom de la première personne a-t-il toujours la même forme?</h5>
			<h5>Combien de formes différentes entendez-vous pour chaque verbe? Et à l'écrit, combien de formes observez-vous?</h5></span>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 text-center"><br>
			<h3><b>Attention à la prononciacion!</b></h3>
			<h5>Distinguez: <b>elle</b> arrive / <b>elles</b>_arrivent.</h5>
			<h5>Par contre: <b>il</b> parle = <b>ils</b> parlent</h5>
		</div>

		<div class="col-xs-4 text-center"><br>
			<h3><b>Attention à l'orthographe!</b></h3>
			<h5>Écoutez la conjugaison des verbes <b>placer</b> et <b>voyager</b>. Afin de garder la même prononciation à toutes les personnes, les verbes en -cer / -ger prennent ç /ge devant a et o:</h5>
			<h5>placer -> nous pla<b>ç</b>ons</h5>
			<h5>voyager -> nous voya<b>ge</b>ons</h5>
			
		</div>

		<div class="col-xs-4">
			
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-4 text-center"><br>
			<h3><b>En français, le verbe est toujours précédé d'un pronom personnel sujet.</b></h3>
			<h5>À l'oral, c'est souvent la seule façcon d'identifier le sujet puisque le verbe se prononce pareil à quatre personnes (je, tu il / elle, ils / elles)</h5>
		</div>

		<div class="col-xs-4 text-center"><br>
			<h3><b>Le pronom vous peut renvoyer à une seule personne</b></h3>
			<h5>C'est  le vouvoiement, une marque de respect: Monsieur Maunier, <b>vous</b> êtes mèdecin ?</h5>
		</div>

		<div class="col-xs-4 text-center"><br>
			<h3><b>On = nous:</b></h3>
			<h5>À l'oral, on est très souvent employé à la place de nous:</h5>
			<h5>Nous aimons le cours de français</h5>
			<h5>-> <b>On aime</b> le cours de français</h5>
		</div>
	</div>
	
</div>